<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<style>
        body{
            margin-top: 10px;
            padding: 20px;
            background: whitesmoke;
        }
        .container{
            width: 600px;
            text-align: center;
            height: 600px;
            background: salmon;
            color: #ffffff;
        }
        .first-li{
            margin-left: 200px;
        }
        
        section{
            margin-top: 100px;
        }

    </style>
<body>
  <div class="container">
    <nav>
        <ul>
            <!-- <li><a class="first-li" href="/auth/login">Login</a></li> -->
            <li class="first-li"><a href="/">Home</a></li>
            <li ><a href="/auth/logout">Logout</a></li>
           
        </ul>
    </nav>
<section>
    <header>
        <h3>Login using...</h3>
    </header>
    <main>
        <a  class="google-btn btn" href="/auth/google">Google+</a>
    </main>
</section>
</div>
</body>
</html>